<%- include('parts/header')%>
<%- include('parts/navbar')%> 

<div class="container">
     <h3>Create Account</h3>
     <%if(err){%>
          <p style="margin-top: 10px;" class="alert alert-danger">
               <%= err%>
          </p>
     <%}%>
     <form action="/signup" method="POST">
          <input type="text" name="username" id="username" class="form-control" placeholder="Username">
          <%let usrErr = valErr.find(err => err.param === 'username')%>
          <%if(usrErr){%>
               <p class="alert alert-danger"><%=usrErr.msg%></p>
          <%}%>
          <input type="text" name="email" class="form-control" id="email" placeholder="Email">
          <%usrErr = valErr.find(err => err.param === 'email')%>
          <%if(usrErr){%>
               <p class="alert alert-danger"><%=usrErr.msg%></p>
          <%}%>
          <input type="password" name="pass" id="pass" class="form-control" placeholder="Password">
          <%usrErr = valErr.find(err => err.param === 'pass')%>
          <%if(usrErr){%>
               <p class="alert alert-danger"><%=usrErr.msg%></p>
          <%}%>
          <input type="password" name="confPass" id="confPass" class="form-control" placeholder="Confirm Password">
          <%usrErr = valErr.find(err => err.param === 'confPass')%>
          <%if(usrErr){%>
               <p class="alert alert-danger"><%=usrErr.msg%></p>
          <%}%>
          
          
          <input type="submit" style = "margin-top: 10px;" value="signup" id="Create Account" class="btn btn-primary" >
     </form>
     <div>
          Already have an account? <a href="/login">log in</a>
     </div>
</div>

<%- include('parts/footer')%>
          
          